<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <Console name="SysOut" target="SYSTEM_OUT">
            <PatternLayout pattern="[%d{HH:mm:ss}] [%highlight{%t/%level}{FATAL=red bold, ERROR=fg_bright_red bold, WARN=yellow bold, INFO=fg_bright_blue bold, DEBUG=fg_bright_black, TRACE=magenta}]: %msg%n"/>
        </Console>
    </Appenders>
    <Loggers>
        <Root level="info">
            <filters>
                <MarkerFilter marker="NETWORK_PACKETS" onMatch="DENY" onMismatch="NEUTRAL"/>
            </filters>
            <AppenderRef ref="SysOut"/>
        </Root>
    </Loggers>
</Configuration>
